{% trans_default_domain 'FOSUserBundle' %}
<section class="section-padding-100">
    <div class="container">
        <div class="fos_user_user_show">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ 'profile.show.username'|trans }}: <p class="badge badge-success">{{ user.username }}</p></li>
                <li class="list-group-item">{{ 'profile.show.email'|trans }}: {{ user.email }}</li>
                <li class="list-group-item">{{ 'profile.show.email'|trans }}: </li>
            </ul>
        </div>
    </div>
</section>
