<div id="cms-block-{{ block.id }}" class="cms-block cms-block-element">
    {% block block %}
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-barcode"></i> {{ settings.title }}
                </h3>
            </div>

            <div class="box-body">

                <table class="sonata-order-block-order-container table table-condensed">
                    <tbody>
                    {% for reservation in res %}
                    <tr>
                        <td><a href="#">{{ reservation.randomCodeCommande  }}</a></td>
                        <td class="number"><span class="label label-warning">{{ reservation.evenement.devise.code }} {{ reservation.montantTotal }}</span></td>
                        <td><span class="label label-info">{{ reservation.evenement.titreEvenement }}</span></td>
                        <td>{{ reservation.dateReservation|date() }}</td>
                    </tr>
                    {% else %}
                        <tr>
                            <td>Aucune Réservation à afficher</td>
                        </tr>
                    {% endfor %}
                    </tbody></table>
            </div>

            <div class="box-footer">
                <a href="{{ admin.generateUrl('list') }}" class="btn btn-primary btn-block"><i class="fa fa-list"></i>&nbsp;Afficher toutes les réservations</a>
            </div>
        </div>
    {% endblock %}
</div>
