{% trans_default_domain 'messages' %}
{% extends 'base.html.twig' %}
{% block title %}
    Création d'évènement | {{ app.user.username }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/craueformflow/css/buttons.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/croppie.css') }}"/>
    <style type="text/css">
        .upload-msg {
            text-align: center;
            padding: 50px;
            font-size: 22px;
            color: #aaa;
            width: 400px;
            height: 400px;
            margin: 50px auto;
            border: 1px solid #aaa;
        }

        #upload-demo {
            text-align: center;
            padding: 0;
            font-size: 22px;
            color: #aaa;
            width: 400px;
            height: 400px;
            margin: 50px auto;
            border: 1px solid #aaa;
        }
    </style>
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block body %}
    {% block content %}
        <!-- ##### Event Registration Area Start ##### -->
        <section class="section-padding-0-0">
            <div class="row">
                <div class="col-sm-3  bg-light">
                    <ul class="nav nav-tabs flex-column" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link text-info" data-toggle="tab" href="#info_event">Données de
                                l'évènement</a>

                            {% if flow.getCurrentStepNumber() != 1 %}
                                <div class="card">
                                    <div class="card-body">
                                        <ul>
                                            <li><h4 class="lead">{{ event.titreEvenement }}</h4></li>
                                            <li>
                                                <small class="text text-muted">{{ event.dateDebutEvent|date('d M Y') }}</small>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" data-toggle="tab" href="#commande">Formulaire de commande</a>
                        </li>

                    </ul>
                </div>
                <div class="col-sm-9">
                    {{ parent() }}
                    <div class="tab-content">
                        <div id="info_event" class="container tab-pane fade section-padding-0-100 active"><br>
                            {{ form_start(form, {'method': 'post', 'action':  path('createEvent',{'userId':app.user.id}), 'attr': {'class': 'form'}}) }}

                            {% if flow.getCurrentStepNumber() == 1 %}
                                <p class="alert-danger">{{ form_errors(form) }}</p>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="">{{ 'create_event_field_label.title_event'|trans }} <span
                                                class="fa fa-align-left"></span></label>
                                    {{ form_widget(form.titreEvenement) }}
                                    <div class="row">
                                        <small id="title-help" class="form-text text-muted col-sm-10">Entrer le titre de
                                            votre évènement
                                        </small>
                                        <small id="word-count" class="form-text text-muted col-sm-1">0/75</small>
                                    </div>
                                </div>
                                <br/>
                                <hr/><br/>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="">{{ 'create_event_field_label.categorie'|trans }}</label>
                                    {{ form_widget(form.categorieEvenement) }}
                                    <small id="lieu" class="form-text text-muted">La catégorie de l'évènement n'est pas
                                        dans la liste? <a class="text-muted" href="#">Ajouter</a></small>
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="">{{ 'create_event_field_label.lieu'|trans }} <span
                                                class="fa fa-map-marker"></span></label>
                                    {{ form_widget(form.lieuEvenement) }}
                                    <small id="lieu" class="form-text text-muted">Le lieu n'est pas dans la liste? <a
                                                class="text-muted" href="#">Ajouter</a></small>
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="">{{ form_label(form.organisation) }}</label>
                                    {{ form_widget(form.organisation) }}
                                </div>
                                <br/>
                                <hr/><br/>
                                <h4>Date et heure <span class="fa fa-calendar"></span></h4>
                                <p>Indiquez aux participants potentiels quand votre événement commence et se termine
                                    pour qu'ils puissent planifier au mieux leur venue.</p>
                                <div class="form-group col-md-3 col-sm-6">
                                    <h4 class="lead">{{ 'create_event_field_label.date_start'|trans }} </h4>
                                    {{ form_widget(form.dateDebutEvent) }}
                                </div>
                                <div class="form-group col-md-3 col-sm-6">
                                    <h4 class="lead">{{ 'create_event_field_label.date_end'|trans }}</h4>
                                    {{ form_widget(form.dateFinEvent) }}
                                </div>
                            {% endif %}

                            {% if flow.getCurrentStepNumber() == 2 %}
                                <p class="alert-danger">{{ form_errors(form.image_event) }}</p>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="">{{ 'create_event_field_label.image_event'|trans }}</label>
                                    {{ form_widget(form.image_event) }}
                                    <br/>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <label class="">{{ 'create_event_field_label.description'|trans }}</label>
                                    {{ form_widget(form.description) }}
                                </div>
                            {% endif %}

                            {% if flow.getCurrentStepNumber() == 3 %}
                                <p class="alert-danger">{{ form_errors(form) }}</p>
                                <div class="row align-items-center">
                                    <div class="col-12 my-1">
                                        <label for="appbundle_event_isUsingSeatMap">Utiliser la carte pour sélectionner
                                            des billets</label>
                                        {{ form_widget(form.isUsingSeatMap) }}
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <small class="col-12 text text-muted">L'évènement peut utiliser la carte intéractive
                                        pour la sélection des places
                                    </small>
                                </div>
                                <hr/>
                                <div class="row align-items-center">
                                    <div class="col-12 my-1">
                                        <label for="appbundle_event_isPublished">Publier l'évènement</label>
                                        {{ form_widget(form.isPublished) }}
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <small class="col-12 text text-muted">L'évènement est publié par défaut</small>
                                </div>
                            {% endif %}
                            {# if flow.getCurrentStepNumber() == 4 %}
                                <div class="form-group col-md-6 col-sm-6">
                                    <label class="">{{ 'create_event_field_label.title_event'|trans }} <span
                                                class="fa fa-align-left"></span></label>
                                    {{ form_widget(form.titreEvenement) }}
                                    <div class="row">
                                        <small id="title-help" class="form-text text-muted col-sm-10">Entrer le titre de
                                            votre évènement
                                        </small>
                                        <small id="word-count" class="form-text text-muted col-sm-1">0/75</small>
                                    </div>
                                </div>
                            {% endif #}
                            {% if flow.getCurrentStepNumber() == 4 %}
                                <p class="alert-danger">{{ form_errors(form) }}</p>
                                <p class="text">Vous avez saisis les informations concernant l'évènement
                                    <b>{{ event.titreEvenement }}</b> qui déroulera
                                    le {{ event.dateDebutEvent|date('d m Y') }} </p>
                                <p class="test">Vous serez invités à ajouter <b>vos premiers billets</b> et créer <b>votre plan de salle</b> si vous avez activé la fonctionnalité </p>
                                <p>Appuyer sur
                                    <small class="text-danger">Sauvegarder et confirmer</small>
                                    pour confirmer.
                                </p>
                            {% endif %}
                            {{ form_rest(form) }}
                            <hr/>
                            {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                                craue_formflow_button_label_last: 'Sauvegarder et continuer',
                                craue_formflow_button_class_last: 'btn btn-outline-danger',
                                craue_formflow_button_label_back: 'Précédent',
                                craue_formflow_button_class_back: 'btn btn-outline-secondary',
                                craue_formflow_button_label_reset: 'Recommencer',
                                craue_formflow_button_class_reset: 'btn btn-outline-dark',
                                craue_formflow_button_label_finish: 'Valider',

                            } %}
                            {{ form_end(form) }}
                        </div>
                        <div id="commande" class="container tab-pane fade"><br>
                            <h3>Formulaire de commande</h3>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script src="{{ asset('js/croppie.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.nav-tabs a[href="#info_event"]').tab('show');
                {% if flow.currentStepNumber == 1 %}
                $('#appbundle_event_titreEvenement').on('input', function (e) {
                    maxLength = 75;
                    document.getElementById("word-count").innerHTML = this.value.length + "/" + maxLength;
                });
                $('.dateDebut').datetimepicker({
                    format: 'DD-MM-YYYY H:m',
                    defaultDate: new Date(),
                    sideBySide: true,
                    showTodayButton: true,
                    ignoreReadonly: true,

                    // Your Icons
                    // as Bootstrap 4 is not using Glyphicons anymore
                    icons: {
                        time: 'fa fa-clock-o',
                        date: 'fa fa-calendar',
                        up: 'fa fa-chevron-up',
                        down: 'fa fa-chevron-down',
                        previous: 'fa fa-chevron-left',
                        next: 'fa fa-chevron-right',
                        today: 'fa fa-check',
                        clear: 'fa fa-trash',
                        close: 'fa fa-times'
                    }
                });
                $('.dateFin').datetimepicker({
                        format: 'DD-MM-YYYY H:m',
                        sideBySide: true,
                        ignoreReadonly: true,
                        // Your Icons
                        // as Bootstrap 4 is not using Glyphicons anymore
                        icons: {
                            time: 'fa fa-clock-o',
                            date: 'fa fa-calendar',
                            up: 'fa fa-chevron-up',
                            down: 'fa fa-chevron-down',
                            previous: 'fa fa-chevron-left',
                            next: 'fa fa-chevron-right',
                            today: 'fa fa-check',
                            clear: 'fa fa-trash',
                            close: 'fa fa-times'
                        }
                    }
                );
                $(".dateDebut").on("dp.change", function (e) {
                    $('.dateFin').data("DateTimePicker").minDate(e.date);
                });
                $(".dateFin").on("dp.change", function (e) {
                    $('.dateDebut').data("DateTimePicker").maxDate(e.date);
                });
                {% endif %}
            });

            //var $uploadCrop;

            /*function readFile(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.upload-msg').hide();
                        $('#upload-demo').show();
                        $('.upload-demo').addClass('ready');
                        $uploadCrop.croppie('bind', {
                            url: e.target.result
                        }).then(function () {
                            console.log('jQuery bind complete');
                        });

                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $('.image-event').on('change', function () {
                readFile(this);
            });
            $uploadCrop = $('#upload-demo').croppie({
                showZoomer: true,
                enableExif: true,
                viewport: {
                    width: 350,
                    height: 350,
                    type: 'square'
                },
                boundary: {
                    width: 400,
                    height: 400
                },
                mouseWheelZoom: false
            });
            $('#upload-demo').on('click', function (ev) {
                $uploadCrop.croppie('result', {
                    type: 'html',
                    size: 'viewport'
                }).then(function (resp) {
                    console.log(resp);
                    $uploadCrop.croppie('bind', {
                        url: resp
                    }).then(function () {
                        console.log('jQuery bind complete');
                    });
                });
            });*/
        </script>
    {% endblock %}
{% endblock %}
{% block contact %}{% endblock %}
