{% trans_default_domain 'messages' %}
{% extends 'base.html.twig' %}
{% block title %}
    Création d'évènement | {{ app.user.username }}
{% endblock %}
{% block breadcrumb %}
    <section class="breadcumb-area bg-img bg-overlay" style="background-color: black;">
        <div class="bradcumbContent">
            {% block breadcrumb_content %}
                <h2>{{ event.titreEvenement }}</h2>
            {% endblock %}
        </div>
    </section>
{% endblock %}
{% block body %}
    {% block content %}
        <!-- ##### Event Registration Area Start ##### -->
        <section class="section-padding-100">
            <div class="container">
                <div class="col-12 col-lg-12">
                    <table class="table table-bordered table-responsive">
                        <tr>
                            <td ><p class="text text-xl-right">{{ 'events.table_view.event_title'|trans }}</p></td><td>{{ event.titreEvenement }}</td>
                        </tr>
                        <tr>
                            <td><p class="text text-xl-right"><span class="fa fa-calendar"></span> {{ 'events.table_view.event_date_start'|trans }}</p></td><td><p class="text card-text">{{ event.dateDebutEvent|date('d-m-Y H:m:s') }}</p></td>
                        </tr>
                        <tr>
                            <td><p class="text text-xl-right"><span class="fa fa-calendar"></span> {{ 'events.table_view.event_date_end'|trans }}</p></td><td><p class="text card-text">{{ event.dateFinEvent|date('d-m-Y') }}</p></td>
                        </tr>
                        <tr>
                            <td><p class="text text-xl-right">{{ 'events.table_view.event_desc'|trans }}</p></td><td><blockquote class="blockquote">{{ event.description|raw }}</blockquote></td>
                        </tr>
                        <tr>
                            <td><p class="text text-xl-right">{{ 'events.table_view.event_publish'|trans }}</p></td><td>{%   if event.isPublished  %}Oui <span class="fa fa-check"></span><p class="text-muted">{{ 'events.table_view.event_published_info'|trans }}</p>{% else %}Non <span class="fa fa-2x fa-close"></span><p class="text-muted">{{ 'events.table_view.event_no_published_info'|trans }}</p>{% endif %}</td>
                        </tr>
                        <tr>
                            <td><p class="text text-xl-right"><span class="fa fa-image"></span> {{ 'events.table_view.event_image'|trans }}</p></td><td><img width="150px;" class="img-thumbnail img-fluid" height="150px;" src="{{ asset(event.imageEvent) }}"></td>
                        </tr>
                        <tr>
                            <td><p class="text text-xl-right"><span class="fa fa-palette"></span>{{ 'events.table_view.event_lieu'|trans }}</p></td><td>{{ event.lieuEvenement.nomSalle }}</td>
                        </tr>
                        <tr>
                            <td><p class="text text-xl-right">{{ 'events.table_view.event_cat'|trans }}</p></td><td>{{ event.categorieEvenement.libelle }}</td>
                        </tr>
                        <tr>
                            <td><p class="text text-xl-right">{{ 'events.table_view.event_org'|trans }}</p></td><td><p class="text">{{ event.organisation }}</p></td>
                        </tr>
                    </table>
                    <div class="btn-group">
                        <a href="{{ path('viewEventMapAdmin',{'id':event.id,'userId':app.user.username}) }}" class="btn btn-outline-dark text-center">{{ 'events.table_view.event_seatmap'|trans }}</p></a><a href="{{ path('billet_index',{'userId':app.user.username,'event':event.titreEvenementSlug}) }}" class="btn btn-outline-dark">{{ 'events.table_view.event_billets'|trans }}</a></div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block javascripts %}
        {{  parent()}}
    {% endblock %}
{% endblock %}
{% block contact %}{% endblock %}
