{% trans_default_domain 'messages' %}
{% extends 'base.html.twig' %}
{% block title %}
    Création d'évènement | {{ app.user.username }}
{% endblock %}
{% block breadcrumb %}
    <!--<section class="breadcumb-area bg-img bg-overlay" style="background-color: black;">
        <div class="bradcumbContent">
            {% block breadcrumb_content %}
                <h2>{{ event.titreEvenement }}</h2>
            {% endblock %}
        </div>
    </section>-->
{% endblock %}
{% block body %}
    {% block content %}
        <!-- ##### Event Registration Area Start ##### -->
        {{ parent() }}
        <section class="section-padding-100">
            <div class="container">
                <div class="col-6 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Information sur l' évènement {{ event.titreEvenement }}</h5>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-6">{{ 'events.table_view.event_title'|trans }}</div>
                                <div class="col-sm-6">{{ event.titreEvenement }}</div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-6">{{ 'events.table_view.event_date_start'|trans }}</div>
                                <div class="col-sm-6">{{ event.dateDebutEvent|date('d-m-Y H:m:s') }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">{{ 'events.table_view.event_date_end'|trans }}</div>
                                <div class="col-sm-6">{{ event.dateFinEvent|date('d-m-Y H:m:s') }}</div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-6">{{ 'events.table_view.event_desc'|trans }}</div>
                                <div class="col-sm-6">{{ event.description|raw }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">{{ 'events.table_view.event_image'|trans }}</div>
                                <img src="{{ event.imageEvent?vich_uploader_asset(event,'image','AppBundle\\Entity\\Evenement')|imagine_filter('list_event_view'):"https://via.placeholder.com/400x300?text=IMAGE+NON+DISPONIBLE"  }}">
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-6">{{ 'events.table_view.event_lieu'|trans }}</div>
                                <div class="col-sm-6">{{ event.lieuEvenement.nomSalle }}</div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-6">{{ 'events.table_view.event_cat'|trans }}</div>
                                <div class="col-sm-6">{{ event.categorieEvenement.libelle }}</div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-6">{{ 'events.table_view.event_org'|trans }}</div>
                                <div class="col-sm-6">{{ event.organisation }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">{{ 'events.table_view.event_publish'|trans }}</div>
                                <div class="col-sm-6">{% if event.isPublished %}Oui <span class="fa fa-check"></span><p
                                            class="text-muted">{{ 'events.table_view.event_published_info'|trans }}</p>{% else %}Non
                                        <span class="fa fa-2x fa-close"></span><p
                                                class="text-muted">{{ 'events.table_view.event_no_published_info'|trans }}</p>{% endif %}
                                </div>
                            </div>

                            <div class="card-footer text-muted justify-content-center">
                                <a class="btn btn-success"
                                   href="{{ path('viewEventUpdate',{'user':app.user.id,'id':event.id}) }}">Modifier les
                                    informations</a>
                                {% if event.isUsingSeatMap %}
                                    <a class="btn btn-secondary"
                                       href="{{ path('viewCreateMap',{'userId':app.user.id,'id':event.id}) }}">Plan de
                                        salle</a>
                                {% endif %}
                                <a class="btn btn-info"
                                   href="{{ path('generateTickets',{'userId':app.user.id,'event':event.id}) }}">Billets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
{% block contact %}{% endblock %}
