{% extends 'base.html.twig' %}
{% trans_default_domain 'messages' %}
{% block title %}
    Carte  | {{ app.user.username }}
{% endblock %}
{% block breadcrumb %}
    <section class="breadcumb-area bg-img bg-overlay" style="background-color: black;">
        <div class="bradcumbContent">
            {% block breadcrumb_content %}
                <h2>PLAN DE SALLE : {{ event.titreEvenement }}</h2>
            {% endblock %}
        </div>
    </section>
{% endblock %}

{% block body %}
    {% block content %}
        {{ parent() }}
        <div id="root" data-event-id="{{ event.id }}">
        </div>
    {% endblock %}
    {% block contact %}{% endblock %}
    {% block javascripts %}
        <!-- ##### All Javascript Script ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="{{ asset('js/jquery/jquery-2.2.4.min.js') }}"></script>
        <!-- Popper js -->
        <script src="{{ asset('js/bootstrap/popper.min.js') }}"></script>
        <!-- Bootstrap js -->
        <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
        <!-- All Plugins js -->
        <script src="{{ asset('js/plugins/plugins.js') }}"></script>
        <!-- Active js -->
        <script src="{{ asset('js/active.js') }}"></script>

        <!-- Vue js -->
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>


    {% endblock %}
{% endblock %}
