{% extends 'base.html.twig' %}
{% block header %}
{% endblock %}
{% block title %}
    {{ event.titreEvenement }} | Paramètrer les billets - Plan de salle
{% endblock %}
{% block breadcrumb %}
    <!--<section class="breadcumb-area bg-img bg-overlay" style="background-color: black;">
        <div class="bradcumbContent">
            {% block breadcrumb_content %}
            {% endblock %}
        </div>
    </section>-->
{% endblock %}
{% block body %}
    {% block content %}
        {{ parent() }}
        <section>
                <div class="row mr-15 mt-15 ml-15 mb-15">
                    <div class="col-sm-8">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0"><a href="{{ url('viewSingle',{'id':event.id}) }}">{{ event.titreEvenement }} | Paramètres des billets</a></h3>
                            <div class="mb-1 text-muted">
                                {% if event.dateFinEvent is defined and event.dateFinEvent is defined and  event.dateDebutEvent|date("d M Y") == event.dateFinEvent|date("d M Y") %}
                                    <span class="fa fa-clock"></span>&nbsp;{{ event.dateDebutEvent|localizeddate('none','none',null,null,"cccc, d MMMM Y 'à' hh:mm") }}
                                    jusqu' à {{ event.dateFinEvent|localizeddate('none','none',null,null,"hh:mm") }}
                                {% elseif event.dateFinEvent is defined and event.dateFinEvent is defined and  event.dateDebutEvent|date("d M Y") != event.dateFinEvent|date("d M Y") %}

                                    <span class="fa fa-clock"></span>&nbsp;{{ event.dateDebutEvent|localizeddate('none','none',null,null,"cccc, d MMMM Y 'à' hh:mm") }} jusqu'
                                    à {{ event.dateFinEvent|localizeddate('none','none',null,null,"cccc, d MMMM Y 'à' hh:mm") }}
                                {% else %}
                                    <span class="fa fa-clock"></span>&nbsp;{{ event.dateDebutEvent|localizeddate('none','none',null,null,"cccc, d MMMM Y 'à' hh:mm") }}
                                {% endif %}
                            </div>
                            <div class="text-muted"><span class="fa fa-map-marker"></span> {{ event.lieuEvenement.nomSalle }}</div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col">
                                <a href="{{ url('viewList') }}" class="btn btn-link pull-right">{{ 'events.back_homepage'|trans }}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="" class="btn btn-link text-danger pull-right"> Besoin d'aide ?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="{{ path('viewEventUpdate',{'id':event.id}) }}" class="btn btn-danger pull-right"> Modifier l'évènement</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="root" data-event-id="{{ event.id }}" class="container-fluid" style="height: 800px;">
                </div>
        </section>
    {% endblock %}
    {% block contact %}{% endblock %}
    {% block javascripts %}
        <!-- ##### All Javascript Script ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="{{ asset('js/jquery/jquery-2.2.4.min.js') }}"></script>
        <!-- Popper js -->
        <script src="{{ asset('js/bootstrap/popper.min.js') }}"></script>
        <!-- Bootstrap js -->
        <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
        <!-- All Plugins js -->
        <script src="{{ asset('js/plugins/plugins.js') }}"></script>
        <!-- Active js -->
        <script src="{{ asset('js/active.js') }}"></script>
        <script src="https://cdn.seatsio.net/chart.js"></script>
        <script>
            new seatsio.EventManager({
                divId: 'root',
                secretKey: '{{ event.user.options.seatsIoWorkspaceId }}', // never expose the secret key on a public web page!
                event: '{{ event.options.seatsIoEventSecretKey }}',
                mode: 'manageForSaleConfig', // 'manageObjectStatuses' or 'manageForSaleConfig'. More to follow.
                language: 'fr'
            }).render();
        </script>

        <!-- Vue js
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>-->

    {% endblock %}
{% endblock %}
{% block footer %}
{% endblock %}
