{% extends 'base.html.twig' %}
{% block breadcrumb %}
    <section class="breadcumb-area"> <!--style="background-image: url({# asset('img/cover.jpg') #})"-->
        <div id="carousel-index" class="carousel slide" data-ride="carousel">
             <!--Indicators-->
            <ul class="carousel-indicators">
                <li data-target="#carousel-index" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-index" data-slide-to="1"></li>
                <li data-target="#carousel-index" data-slide-to="2"></li>
            </ul>

             <!--The slideshow-->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('img/cover.jpg') }}" alt="Mage 4" width="100%" height="100%">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/cover.jpg') }}" alt="Mage 4" width="100%" height="100%">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/cover.jpg') }}" alt="Mage 4" width="100%" height="100%">
                </div>
            </div>


            <a class="carousel-control-prev" href="#carousel-index" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carousel-index" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
            {% block breadcrumb_content %}
            {% endblock %}
    </section>
{% endblock %}
{% block body %}
    <!-- ##### Events Area Start ##### -->
    {% block content %}
        {{ parent() }}
    <section class="events-area">
        <div id="sticky-wrapper" class="sticky-wrapper row ml-50 mr-50">
            <div class="col-12">
                <!-- Contact Form Area -->
                <div class="filter-form-area">
                    <form action="/" method="post">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Titre" name="titre" value="{{ dataSearch.parameters.titre|default('') }}">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" placeholder="Lieu" name="lieu" value="{{ dataSearch.lieu|default('') }}">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="date" placeholder="Date" name="date" value="{{ dataSearch.date|default('') }}">
                                </div>
                            </div>

                            <div class="col-3 text-center">
                                <button class="btn oneMusic-btn mt-0" type="submit">Recherche<i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            {% if (nbEvents > 0)  %}
            <p>{{ 'filter_events.countResults'|transchoice(nbEvents) }}</p>

            <div class="row">
                {% for item in events %}
                <!-- Single Event Area -->
                <div class="col-12 col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <div class="single-event-area mb-30">
                        <div class="event-thumbnail">
                            <img width="350px" height="436.33px" src="{{  asset(item.imageEvent)}}" alt="{{  item.imageEvent }}">
                        </div>
                        <div class="event-text">
                            <h4>{{ item.titreEvenement }}</h4>
                            <div class="event-meta-data">
                                <a href="#" class="event-place">{{   item.nomSalle }}</a>
                                <a href="#" class="event-date">{{ item.dateDebutEvent|date("m/d/Y") }}</a>
                            </div>
                            <a href="{{ path('viewSingle',{'id':item.id}) }}" class="btn see-more-btn">Détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% else %}
                <p>{{ 'filter_events.noEvents'|trans }}</p>
            {% endif %}

            <!--<div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center mt-70">
                        <a href="#" class="btn oneMusic-btn">Charger ... <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>-->
        </div>
    </section>
    {% endblock %}
    <!-- ##### Events Area End ##### -->
    {% block javascripts %}
        {{  parent()}} {% endblock %}
{% endblock %}

