{% extends 'base.html.twig' %}
{% block title %}
    {{ event.titreEvenement }} | {{ event.dateDebutEvent|date('d-m-Y') }}
{% endblock %}
{% block breadcrumb %}
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/breadcumb3.jpg') }}">
        <div class="bradcumbContent">
            {% block breadcrumb_content %}
                <p>Parcourir</p>
                <h2>{{ event.titreEvenement }}</h2>
            {% endblock %}
        </div>
    </section>
{% endblock %}
{% block body %}

    <!-- ##### Events Area Start ##### -->
    {% block content %}
        <div class="blog-area section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-12">

                        <!-- Single Post Start -->
                        <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                            <!-- Post Thumb -->
                            <div class="blog-post-thumb mt-30">
                                <a href="#"><img src="{{ asset('img/blog1.jpg') }}" alt=""></a>
                                <!-- Post Date -->
                                <div class="post-date">
                                    <span>{{ event.dateDebutEvent|date('d') }}</span>
                                    <span>{{ event.dateDebutEvent|date('m') }} {{ event.dateDebutEvent|date('Y') }}</span>
                                </div>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <!-- Post Title -->
                                <a href="#" class="post-title">{{ event.titreEvenement }}</a>
                                <!-- Post Meta -->
                                <div class="post-meta d-flex mb-30">
                                    Par &nbsp;&nbsp;<h6 class="post-author"><a href="#">{{ event.organisation }}</a>
                                    </h6>
                                    &nbsp;|&nbsp; au&nbsp;&nbsp; <h6 class="tags"><a
                                                href="#"> {{ event.lieuEvenement.nomSalle }}</a></h6>
                                    &nbsp;|&nbsp;
                                    {% if (ticketState != null) %}
                                        <h6 class="tags"><a href="#"><span
                                                        class="badge badge-success">{{ ticketState['restants'] }}</span>
                                                Billets
                                                restants</a></h6>
                                    {% endif %}
                                </div>
                                <!-- Post Excerpt -->

                                <p>{{ event.description|raw }}</p>
                                {% if (ticketState != null) %}
                                    {% if ticketState['restants'] > 0 %}
                                        <a class="btn oneMusic-btn m-2" style="text-transform: none;"
                                           data-toggle="modal"
                                           data-target="#choixVue">{{ 'events.buy_tickets'|trans }} <i
                                                    class="fa fa-ticket"></i></a>
                                    {% else %}
                                        <a class="btn oneMusic-btn m-2" style="text-transform: none;"
                                           data-toggle="modal"
                                           data-target="#choixVue">{{ 'events.ticket_off'|trans }} <i
                                                    class="fa fa-ticket"></i></a>

                                    {% endif %}
                                {% else %}
                                    <p class="info text-danger">Pas de billets disponibles</p>
                                {% endif %}

                                <!--<script src="https://www.paypal.com/sdk/js?client-id=AXZ-9C193mTXkOfkwZ0ehMUiaNbVXM20I9xbh65Rk8HseaqLYuOJxjCy6wpyaCfPRaWmvfAzo5S_FwIU"></script>
                                <script>paypal.Buttons({
                                        createOrder: function(data, actions) {
                                            // Set up the transaction
                                            return actions.order.create({
                                                purchase_units: [{
                                                    amount: {
                                                        currency_code:'EUR',
                                                        value: '300'
                                                    }
                                                }],

                                            });
                                        },
                                        onApprove: function(data, actions) {
                                            // Capture the funds from the transaction
                                            return actions.order.capture().then(function(details) {
                                                // Show a success message to your buyer
                                                alert('Transaction completed by ' + details.payer.name.given_name);
                                            });
                                        }
                                    }).render('body');</script>-->
                            </div>
                        </div>
                        <div class="modal fade" id="choixVue" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Choisir des billets</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% if event.isUsingSeatMap == 1 %}
                                            <a href="{{ url('viewBuyMap',{'idEvent':event.id}) }}"
                                               class="btn oneMusic-btn m-2" style="text-transform: none;">Sur le plan de
                                                salle
                                                <i class="fa fa-circle"></i></a>
                                        {% else %}
                                            <p href="#" class="text m-2 text-danger"
                                               style="text-transform: none;">{{ 'events.map_not_available'|trans }}</p>
                                        {% endif %}
                                        <a href="{{ url('viewTicketList',{'id':event.id}) }}"
                                           class="btn oneMusic-btn m-2" style="text-transform: none;">Lister les billets<i
                                                    class="fa fa-list"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }} {% endblock %}
{% endblock %}

