{% extends 'base.html.twig' %}
{% block breadcrumb_content %}
    <p>Parcourir</p>
    <h2>Les évènements</h2>
{% endblock %}
{% block body %}
    {% block header %}
        <!-- Preloader -->
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- ##### Header Area Start ##### -->
        <header class="header-area">
            <!-- Navbar Area -->
            <div class="oneMusic-main-menu">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Menu -->
                        <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                            <!-- Nav brand -->
                            <a href="index.html" class="nav-brand"><img src="{{ asset('img/logo.png') }}" alt=""></a>

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">

                                <!-- Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="albums-store.html">Albums</a></li>
                                        <li><a href="#">Pages</a>
                                            <ul class="dropdown">
                                                <li><a href="index.html">Accueil</a></li>
                                                <li><a href="albums-store.html">Albums</a></li>
                                                <li><a href="event.html">Evènememnts</a></li>
                                                <li><a href="blog.html">Calendrier</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                                <li><a href="login.html">Se connecter</a></li>
                                                <li><a href="#">Dropdown</a>
                                                    <ul class="dropdown">
                                                        <li><a href="#">Even Dropdown</a></li>
                                                        <li><a href="#">Even Dropdown</a></li>
                                                        <li><a href="#">Even Dropdown</a></li>
                                                        <li><a href="#">Even Dropdown</a>
                                                            <ul class="dropdown">
                                                                <li><a href="#">Deeply Dropdown</a></li>
                                                                <li><a href="#">Deeply Dropdown</a></li>
                                                                <li><a href="#">Deeply Dropdown</a></li>
                                                                <li><a href="#">Deeply Dropdown</a></li>
                                                                <li><a href="#">Deeply Dropdown</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Even Dropdown</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="event.html">Evènements</a></li>
                                        <li><a href="blog.html">Aide</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>

                                    <!-- Login/Register & Cart Button -->
                                    <div class="login-register-cart-button d-flex align-items-center">
                                        <!-- Login/Register -->
                                        <div class="login-register-btn mr-50">
                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                                <a id="loginBtn" href="{{ path('fos_user_security_logout') }}">
                                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                                </a>
                                            {% else %}
                                                <a id="loginBtn"
                                                   href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                            {% endif %}
                                        </div>

                                        <!-- Cart Button
                                        <div class="cart-btn">
                                            <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                        </div>-->
                                    </div>

                                </div>
                                <!-- Nav End -->

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block content %}
        <div id="vue-app" class="container-fluid">
            <!-- Vertical toolbar -->
            <div class="row">
                <div class="col-sm-10">
                    <toolbar-vertical></toolbar-vertical>
                    <canvas-element></canvas-element>
                </div>
                <div class="col-sm-2">
                    <sidebar-right></sidebar-right>
                </div>
            </div>
            <!--Add Modal -->
            <add-form></add-form>
            <!--Edit Modal -->
            <edit-form></edit-form>
        </div>
    {% endblock %}
    {% block contact %}{% endblock %}
    {% block javascripts %}
        <!-- ##### All Javascript Script ##### -->
        <!-- jQuery-2.2.4 js -->
        <script src="{{ asset('js/jquery/jquery-2.2.4.min.js') }}"></script>
        <!-- Popper js -->
        <script src="{{ asset('js/bootstrap/popper.min.js') }}"></script>
        <!-- Bootstrap js -->
        <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
        <!-- All Plugins js -->
        <script src="{{ asset('js/plugins/plugins.js') }}"></script>
        <!-- Active js -->
        <script src="{{ asset('js/active.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/fabric.js') }}"></script>
        <!-- Vue js -->
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>


    {% endblock %}
{% endblock %}
