{% extends 'base.html.twig' %}
{% block title %}
    {{ event.titreEvenement }} | Plan de salle
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block header %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css"/>
    <link rel="stylesheet" href="{{ asset('css/jquery-steps.css') }}"/>
    <style type="text/css">
        #chartContainerContainer {
            background-image: none !important;
        }
    </style>
{% endblock %}
{% block body %}
    {% block content %}
        {{ parent() }}
        <section>
            <div class="row mr-15 mt-15 ml-15 mb-15">
                <div class="col-lg-2">
                    <img src="{{ asset((event.imageEvent)?vich_uploader_asset(event,'image','AppBundle\\Entity\\Evenement')|imagine_filter('view_map_event_view'):"https://via.placeholder.com/1000x600?text=IMAGE+NON+DISPONIBLE") }}"/>
                </div>
                <div class="col-lg-6">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0"><a
                                    href="{{ url('viewSingle',{'id':event.id}) }}">{{ event.titreEvenement }}</a></h3>
                        <div class="mb-1 text-muted">
                            {% if event.dateFinEvent is defined and event.dateFinEvent is defined and  event.dateDebutEvent|date("d M Y") == event.dateFinEvent|date("d M Y") %}
                                <span class="fa fa-clock"></span>&nbsp;{{ event.dateDebutEvent|localizeddate('none','none',null,null,"cccc, d MMMM Y 'à' hh:mm") }}
                                jusqu' à {{ event.dateFinEvent|localizeddate('none','none',null,null,"hh:mm") }}
                            {% elseif event.dateFinEvent is defined and event.dateFinEvent is defined and  event.dateDebutEvent|date("d M Y") != event.dateFinEvent|date("d M Y") %}

                                <span class="fa fa-clock"></span>&nbsp;{{ event.dateDebutEvent|localizeddate('none','none',null,null,"cccc, d MMMM Y 'à' hh:mm") }} jusqu'
                                à {{ event.dateFinEvent|localizeddate('none','none',null,null,"cccc, d MMMM Y 'à' hh:mm") }}
                            {% else %}
                                <span class="fa fa-clock"></span>&nbsp;{{ event.dateDebutEvent|localizeddate('none','none',null,null,"cccc, d MMMM Y 'à' hh:mm") }}
                            {% endif %}
                        </div>
                        <div class="text-muted"><span
                                    class="fa fa-map-marker"></span> {{ event.lieuEvenement.nomSalle }}</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col">
                            <a href="{{ url('viewList') }}"
                               class="btn btn-link pull-right">{{ 'events.back_homepage'|trans }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="" class="btn btn-link text-danger pull-right"> Besoin d'aide ?</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if event.isUsingSeatmap or event.etatSalle != null %}
             <form id="myTicketBuyerForm" action="/test" method="post">
                <div id="chart" data-event-id="{{ event.id }}" data-is-front="true" class="container-fluid">
                    <!--<button type="submit" class="btn btn-primary">Valider</button>-->
                </div>

            </form>
                <div class="preloader d-flex align-items-center justify-content-center">
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col">
                    <p style="text-align:center;">Le plan de salle n'est pas disponible ou a été désactivé</p>
                </div>
            </div>
            {% endif%}
        </section>
        <div class="modal" id="checkout_command" role="dialog" data-backdrop="static"
             data-keyboard="false">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col"></div>
                        <div class="col">
                            <div class="row"><p class="modal-title mx-auto" id="exampleModalLabel">
                                    Commander</p></div>
                            <div class="row">
                                <small class="mx-auto">Temps restant pour commander: <span
                                            class="time_left">00:00</span></small>
                            </div>
                        </div>
                        <div class="col">
                            <button type="button" class="close closeConfirm"
                                    aria-label="Fermer">
                                <span>&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <!-- Panel 1 body -->
                            <div class="col-lg-7">
                                <div id="checkout_steps">
                                    <div class="step-app">
                                        <ul class="step-steps">
                                            <li><a href="#tab1"><span class="number">1</span> Step 1</a>
                                            </li>
                                            <li><a href="#tab2"><span class="number">2</span> Step 2</a>
                                            </li>
                                        </ul>
                                        <div class="step-content">
                                            <div class="step-tab-panel" id="tab1">
                                                <div class="container-fluid">
                                                    <h6>Informations sur l'acheteur</h6>
                                                    {% set nom,prenom,email,adresse,country,zipCode='','','','','','' %}
                                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                        {% set nom,prenom,email,adresse,country,zipCode = app.user.nom,app.user.prenom,app.user.email,app.user.adresse,app.user.pays,app.user.codePostal %}
                                                    {% endif %}
                                                    <form id="frmInfo">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                                <label for="inputEmail4">Nom <span
                                                                            class="text-danger">*</span></label>
                                                                <input type="nom" class="form-control"
                                                                       id="nom" placeholder="Nom"
                                                                       name="nom"
                                                                       value="{{ nom }}" required>
                                                                <span class="text text-danger input-error"></span>

                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputPassword4">Prénom <span
                                                                            class="text-danger">*</span></label>
                                                                <input type="prenom"
                                                                       class="form-control" id="prenom"
                                                                       placeholder="Prénom"
                                                                       name="prenom"
                                                                       value="{{ prenom }}" required>
                                                                <span class="text text-danger input-error"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="inputEmail4">Email <span
                                                                            class="text-danger">*</span></label>
                                                                <input type="email" class="form-control"
                                                                       id="email"
                                                                       placeholder="Adresse e-mail"
                                                                       name="email" value="{{ email }}"
                                                                       required>
                                                                <span class="text text-danger input-error"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputAddress">Adresse</label>
                                                            <input type="text" class="form-control"
                                                                   id="inputAddress"
                                                                   placeholder="Adresse" name="adresse"
                                                                   value="{{ adresse }}">
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group col-md-5">
                                                                <label for="pays">Pays</label>
                                                                <select class="form-control"
                                                                        name="pays">
                                                                    <option>Votre pays..</option>
                                                                    {% for country_item in country %}
                                                                        <option value="{{ country_item.code }}">{{ country_item.libelle }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                                <label for="region">Région</label>
                                                                <select id="region"
                                                                        class="form-control"
                                                                        name="region">
                                                                    <option value="" selected>Votre
                                                                        région...
                                                                    </option>
                                                                    <option>...</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                <label for="code_zip">Code
                                                                    postal</label>
                                                                <input type="text" class="form-control"
                                                                       id="inputZip" name="code_zip"
                                                                       value="{{ zipCode }}">
                                                            </div>
                                                        </div>
                                                        <hr/>
                                                        <div class="form-group">
                                                            <label for="inputAddress2"><h6>Méthode de
                                                                    paiement</h6></label>
                                                            <input type="hidden" name="_token"
                                                                   value="{{ csrf_token('checkout_info') }}"/>
                                                            {% if is_granted('ROLE_USER_SHOP') %}
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <input type="radio"
                                                                               class="form-check-input"
                                                                               name="paymentMethod"
                                                                               value="point_de_vente" checked>
                                                                        <span class="fa fa-home fa-2x"></span>
                                                                        Point de vente
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                            {% else %}
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <input type="radio"
                                                                               class="form-check-input"
                                                                               name="paymentMethod"
                                                                               disabled>
                                                                        <span class="fa fa-credit-card fa-2x"></span>
                                                                        Carte bancaire
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                                {% if event.options.usePaypalMethodPayment %}
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <input type="radio"
                                                                               class="form-check-input"
                                                                               name="paymentMethod"
                                                                               value="Paypal" checked>
                                                                        <span class="fa fa-paypal fa-2x"></span>
                                                                        Paypal
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                                {% endif %}
                                                                {% if event.options.useOrangeMoneyMethodPayment %}
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <input type="radio"
                                                                               class="form-check-input"
                                                                               name="paymentMethod"
                                                                               value="OrangeMoney" checked>
                                                                        <img src="{{ asset('img/om.png') }}" width="100px"/>
                                                                        Orange Money
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                                {% endif %}
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <input type="radio"
                                                                               class="form-check-input"
                                                                               name="paymentMethod"
                                                                               disabled>
                                                                        <img
                                                                                src="{{ asset('img/logo-mvola.png.png') }}"
                                                                                width="100" height="30"/>
                                                                    </div>
                                                                </div>
                                                                <hr/>
                                                            {% endif %}
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                            <div class="step-tab-panel" id="tab2">
                                                <div class="container-fluid">
                                                    <h3>Paiement de la facture</h3>
                                                    <p class="paymentInfo"></p>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div id="btnPaypal"></div>
                                                            <div id="orangeMoney"></div>
                                                            <form class="form_order_method" method="post" novalidate>
                                                            </form>
                                                            <form id="form_printer" class="form_printer" method="post" enctype="multipart/form-data">
                                                                <input type="hidden" name="order_method" value="print"/>
                                                                <input type="hidden" name="_token" value="print"/>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="row text-center payment-loader">
                                                        <div class="col loader">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <img src="{{ asset('img/loader.gif') }}"
                                                                         width="200px"/></div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <span>Veuiller patienter pendant l'enregistrement de vos informations</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row card payment-success">
                                                        <div class="col-12">
                                                            <div class="row text-center">
                                                                <div class="col">
                                                                    <span class="fa fa-check-circle text-success fa-3x "></span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    Merci, le paiement de votre commande a
                                                                    abouti. Veuiller vérifier vos billets
                                                                    via e-mail
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row card payment-failure">
                                                        <div class="col-12">
                                                            <div class="row text-center">
                                                                <div class="col">
                                                                    <span class="fa fa-warning text-danger fa-3x "></span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    Désolé, le paiement de votre commande
                                                                    n'a pas abouti. Veuiller recommencer
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row card register-failure">
                                                        <div class="col-12">
                                                            <div class="row text-center">
                                                                <div class="col">
                                                                    <span class="fa fa-warning text-danger fa-3x "></span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    Merci, le paiement de votre commande a
                                                                    abouti
                                                                    mais des erreurs internes se sont
                                                                    produites
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="step-footer row">
                                            <div class="col">
                                                <button data-direction="prev"
                                                        class="btn btn-secondary step-btn">Précédent
                                                </button>
                                            </div>
                                            <div col="col">
                                                <button data-direction="next"
                                                        class="btn btn-danger pull-right step-btn">
                                                    Continuer
                                                </button>
                                                <button data-direction="finish"
                                                        class="btn btn-success step-btn step-btn-finish">
                                                    Terminé
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Panel 2 body-->
                            <div class="col-lg-5">
                                <div class="container-fluid">

                                    <h6 class="mx-auto">Résumé de la commande</h6>
                                    <hr/>
                                    <div id="data_cart">
                                        <div class="row">
                                            <div class="col">Veuillez ajouter vos commandes</div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row sub-total">
                                        <div class="col-8">Sous-total</div>
                                        <div class="col sub_total_value">
                                            <span class="currency">{{ event.devise.code }} </span> 0
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">Frais</div>
                                        <div class="col">
                                            <span class="currency frais">{{ event.devise.code }} </span> 0
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row total">
                                        <div class="col-8"><h6>Total</h6></div>
                                        <div class="col total_value">
                                            <span class="currency">{{ event.devise.code }} </span> 0
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Panels end -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="cart_details" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Liste des commandes</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="cart_details_content"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmCloseCheckout" role="dialog" data-backdrop="false">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="close">Fermer la fenêtre</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row text-center">
                            <div class="col">Etes-vous sur de vouloir fermer la fenêtre, vos commandes
                                seront annulées.
                            </div>
                        </div>
                        <br>
                        <div class="row text-center">
                            <div class="col-12">
                                <button class="btn btn-danger confirmclosed">Oui</button>
                                <button class="btn btn-primary" data-dismiss="modal">Non</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block contact %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-steps.js') }}"></script>
        <script src="https://www.paypal.com/sdk/js?client-id=AXZ-9C193mTXkOfkwZ0ehMUiaNbVXM20I9xbh65Rk8HseaqLYuOJxjCy6wpyaCfPRaWmvfAzo5S_FwIU&currency={{ event.devise.code=='MGA'?'EUR':event.devise.code }}"></script>
        <script type="text/javascript">
            let cart_items = [];
            let steps_api = null;
            let total_price = 0;
            let counter = '';

            function resetForm(id_form) {
                $("#" + id_form).find('input[type="radio"]').val('');
                $("#" + id_form).find('input[type="text"]').val('');
                $("#" + id_form).find('input[type="password"]').val('');
                $("#" + id_form).find('input[type="checkbox"]').removeAttr("checked");
                $("#" + id_form).find('select option').removeAttr("selected");
                $("#" + id_form).find('textarea').val('');
            }

            //-------------------------------modal management-------------
            $('#checkout_command').on('shown.bs.modal', function () {
                counter = start_counter();
                $('#data_cart').empty();
                let data_cart = null;
                $.get("/api/cart/list", function (data) {
                    data_cart = data;
                    cart_items = data;
                    $.get("/api/typeBillet/admission-only/" +{{ event.id }}, function (data_no_seat) {
                        let data_admission_only = data_no_seat;
                        let array_admission_only = [];
                        data_admission_only.map((item) => {
                            let item_quantity = (data_cart.filter((item_cart) => {
                                    return item_cart.seat === "-" && item_cart.section === "-" && item.libelle === item_cart.category_str;
                                }
                            )).length;
                            if (item_quantity > 0) {
                                array_admission_only.push({
                                    quantity: item_quantity,
                                    type: item.libelle,
                                    price: item.prix
                                });
                            }
                        });
                        $.each(data_cart, function (i, el) {
                            if (el.section !== "-" && el.seat !== "-") {
                                $("#data_cart").append('<div class="row">' +
                                    '<div class="col"><b>' + el.section + '</b></div>' +
                                    '<div class="col"><b>' + el.seat + '</b></div>' +
                                    '<div class="col"><span class="pull-right"> Prix: <b>' + el.price + '</b></span></div>' +
                                    '</div>');
                            }
                        });
                        $.each(array_admission_only, function (i, el) {
                            $("#data_cart").append('<div class="row">' +
                                '<div class="col"><b>' + el.type + ' x ' + el.quantity + '</b></div>' +
                                '<div class="col"><span class="pull-right"> Prix: <b>' + parseFloat(el.price) * el.quantity + '</b></span></div>' +
                                '</div>');
                        });

                    });
                });

                $('.total').html('<div class="col loader text-center"><img style="width:100px" src="{{ asset('img/loader.gif') }}"></div>');
                $.get("/api/cart/get_total", function (total) {
                    total_price = total;
                    let item_label = $("<div class='col-7'></div>").append("<h6>Total</h6>");
                    let item_price = $("<div class='col total_value'>{{ event.devise.code }} </div>").append(total);
                    $(".total").empty();
                    $(".total").append(item_label, item_price);
                });
                let frmInfo = $('#frmInfo');
                let frmInfoValidator = frmInfo.validate({
                    rules: {
                        nom: {required: true},
                        prenom: {required: true},
                        email: {
                            required: true,
                            email: true
                        }
                    },
                    messages: {
                        nom: {required: 'Veuillez insérer votre nom'},
                        prenom: {required: 'Veuillez insérer votre prénom'},
                        email: {
                            required: 'Veuillez insérer votre e-mail',
                            email: 'Veuillez insérer un e-mail valide'
                        }
                    },
                    submitHandler: function (form) {
                        return false;
                    },
                    errorPlacement: function (error, element) {
                        error.appendTo(element.parents('.form-group').find('.input-error'));
                    }
                });
                $(".step-steps").hide();
                steps_api = $('#checkout_steps').steps({
                    onChange: function (currentIndex, newIndex, stepDirection) {
                        if (stepDirection === 'forward') {
                            if (newIndex === 1 && currentIndex === newIndex - 1) {
                                $('.payment-success').hide();
                                $('.payment-failure').hide();
                                $('.register-failure').hide();
                                $('.payment-loader').hide();
                                $.post("/res_billet/send_buyer_info", frmInfo.serialize(), function (data) {
                                    console.log(data);
                                });
                                $.get('/api/cart/list', function (data) {
                                    cart_items = data;
                                });
                                $.each(frmInfo.serializeArray(), function (index, el) {
                                    if (el.name === "paymentMethod") {
                                        data_payment_method = el;
                                    }
                                });
                                switch (data_payment_method.value) {
                                    case "OrangeMoney":
                                        $(".form_order_method").empty();
                                        $(".paymentInfo").text('Voici avez choisi Orange Money comme mode de paiement,\n' +
                                            '                                                                    cliquer sur le bouton ci-dessous pour continuer, une\n' +
                                            '                                                                    fois le paiement effectué , vous serez redirigé\n' +
                                            '                                                                    automatiquement sur la page.');
                                        let btn_om_template = "<form method=\"post\">" +
                                            "<input type=\"hidden\" name=\"amount\" value=\""+total_price+"\"/>" +
                                            "<input type=\"hidden\" name=\"currency\" value=\"{{ event.devise.code }}\"/>" +
                                            "<input type=\"hidden\" name=\"_token\" value=\"{{ csrf_token('payment-om') }}\"/>" +
                                            "<div class=\"row\"><div class=\"col-4\"><img src=\"{{ asset('img/om.png') }}\" width=\"80px\"/></div>" +
                                            "<div class=\"col\"><input type=\"submit\" class=\"btn btn-warning btn-block\" value=\"Payer maintenant\"/></div></div></form>";
                                        $("#orangeMoney").append(btn_om_template);
                                        return frmInfo.valid();
                                    case 'Paypal':
                                        $(".form_order_method").empty();
                                        $(".paymentInfo").text('Voici avez choisi Paypal comme mode de paiement,\n' +
                                            '                                                                    cliquer sur le bouton ci-dessous pour continuer, une\n' +
                                            '                                                                    fois le paiement effectué , vous serez redirigé\n' +
                                            '                                                                    automatiquement sur la page.');
                                        paypal.Buttons({
                                            style: {
                                                layout: 'horizontal'
                                            },
                                            createOrder: function (data, actions) {
                                                // Set up the transaction
                                                return actions.order.create({
                                                    purchase_units: [{
                                                        application_context: {
                                                            brand_name: 'Ivenco',
                                                            return_url: '/res_billet/checkout',
                                                            cancel_url: '/res_billet/cancel'
                                                        },
                                                        amount: {
                                                            breakdown: {
                                                                item_total: {
                                                                    currency_code: "{{ event.devise.code=='MGA'?'EUR':event.devise.code }}",
                                                                    value: {% if event.devise.code=='MGA' %}(total_price/4100).toFixed(2){% else %}total_price{% endif %}
                                                                }
                                                            },
                                                            currency_code: "{{ event.devise.code=='MGA'?'EUR':event.devise.code }}",
                                                            value: {% if event.devise.code=='MGA' %}(total_price/4100).toFixed(2){% else %}total_price{% endif %}
                                                        },
                                                        items:
                                                            transformItemsPaypalFormat(cart_items)
                                                    }],

                                                });
                                            },
                                            onApprove: function (data, actions) {
                                                // Capture the funds from the transaction
                                                return actions.order.capture().then(function (details) {
                                                    $(document).ajaxStart(function () {
                                                        $('.payment-loader').show();
                                                    });
                                                    $(document).ajaxStop(function () {
                                                        $('.payment-loader').hide();
                                                    });
                                                    // Show a success message to your buyer
                                                    $.get('/res_billet/checkout')
                                                        .done(function () {
                                                            $.post('/api/event/seat/book', {
                                                                items: cart_items,
                                                                book_action: true,
                                                                event_id: {{ event.id }}
                                                            });
                                                            $('.payment-success').show();
                                                            $('#btnPaypal').hide();
                                                        })
                                                        .fail(function () {
                                                            $('.register-failure').show();
                                                        })
                                                        .always(function () {
                                                            console.log("finished");
                                                        });
                                                    console.log('Transaction completed by ' + details.payer.name.given_name);
                                                    //location.href = "/res_billet/checkout";
                                                });
                                            },
                                            onError: function (error) {
                                                $('.payment-failure').show();
                                            }
                                        }).render('#btnPaypal');
                                        return frmInfo.valid();
                                        {% if is_granted('ROLE_USER_SHOP') and app.user.pointDeVente != NULL %}
                                    case 'point_de_vente':
                                        let user_name = '{{ app.user.username }}';
                                        let shop_name = '{{ app.user.pointDeVente.nom|escape("js") }}';
                                        $(".paymentInfo").append('<p><b>' + user_name + '</b>,administrateur du point de vente: <b>' + shop_name + '</b></p>');
                                        let form_order_method = $(".form_order_method");
                                        form_order_method.append("<div class=\"form-group\">\n" +
                                            "                                                                                    <h6>Veuiller choisir le mode d\'envoi des billets</h6>\n" +
                                            "                                                                                    <div class=\"row\">\n" +
                                            "                                                                                        <div class=\"col-6\">\n" +
                                            "                                                                                           <input name=\"_token\" type=\"hidden\" value=\"{{ csrf_token('order-method') }}\">\n" +
                                            "                                                                                            <input type=\"radio\"\n" +
                                            "                                                                                                   class=\"form-check-input\"\n" +
                                            "                                                                                                   name=\"order_method\"\n" +
                                            "                                                                                                   value=\"print\" checked>\n" +
                                            "                                                                                            <span class=\"fa fa-print fa-2x\"></span>\n" +
                                            "                                                                                            Imprimer les billets\n" +
                                            "                                                                                        </div>\n" +
                                            "                                                                                    </div>\n" +
                                            "                                                                                    <hr/>\n" +
                                            "                                                                                    <div class=\"row\">\n" +
                                            "                                                                                        <div class=\"col-6\">\n" +
                                            "                                                                                            <input type=\"radio\"\n" +
                                            "                                                                                                   class=\"form-check-input\"\n" +
                                            "                                                                                                   name=\"order_method\"\n" +
                                            "                                                                                                   value=\"send_email\"/>\n" +
                                            "                                                                                            <span class=\"fa fa-mail-forward fa-2x\"></span>\n" +
                                            "                                                                                            Envoyer via e-mail\n" +
                                            "                                                                                        </div>\n" +
                                            "                                                                                    </div>\n" +
                                            "                                                                                    <hr/>\n" +
                                            "                                                                                    <div class=\"row\">\n" +
                                            "                                                                                        <div class=\"col-6\">\n" +
                                            "                                                                                            <input type=\"submit\"\n" +
                                            "                                                                                                   class=\"form-check-input btn btn-success\"\n" +
                                            "                                                                                                   value=\"Valider\"/>\n" +
                                            "                                                                                        </div>\n" +
                                            "                                                                                    </div>\n" +
                                            "                                                                                    <br/>\n" +
                                            "                                                                                </div>");

                                        form_order_method.on('submit', function (e) {
                                            e.preventDefault();
                                            let data_order_method = form_order_method.serializeArray();
                                            let order_method = '';
                                            let token = '';
                                            $.each(data_order_method, function (index, el) {
                                                if (el.name === "order_method") {
                                                    order_method = el.value;
                                                }
                                                if (el.name === '_token') {
                                                    token = el.value;
                                                }
                                            });
                                            $(document).ajaxStart(function () {
                                                $('.payment-loader').show();
                                            });
                                            $(document).ajaxStop(function () {
                                                $('.payment-loader').hide();
                                            });
                                            if (order_method === 'print') {
                                                var xhr = new XMLHttpRequest();
                                                xhr.open("POST", "{{ path('cart_print_mail')|escape('js') }}");
                                                xhr.responseType = 'arraybuffer';
                                                xhr.onload = function () {
                                                    if (this.status === 200) {
                                                        var filename = "";
                                                        var disposition = xhr.getResponseHeader('Content-Disposition');
                                                        if (disposition && disposition.indexOf('attachment') !== -1) {
                                                            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                                                            var matches = filenameRegex.exec(disposition);
                                                            if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                                                        }
                                                        var type = xhr.getResponseHeader('Content-Type');

                                                        var blob;
                                                        if (typeof File === 'function') {
                                                            try {
                                                                blob = new File([this.response], filename, { type: type });
                                                            } catch (e) { /* Edge */ }
                                                        }
                                                        if (typeof blob === 'undefined') {
                                                            blob = new Blob([this.response], { type: type });
                                                        }

                                                        if (typeof window.navigator.msSaveBlob !== 'undefined') {
                                                            // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
                                                            window.navigator.msSaveBlob(blob, filename);
                                                        } else {
                                                            var URL = window.URL || window.webkitURL;
                                                            var downloadUrl = URL.createObjectURL(blob);

                                                            if (filename) {
                                                                // use HTML5 a[download] attribute to specify filename
                                                                var a = document.createElement("a");
                                                                // safari doesn't support this yet
                                                                if (typeof a.download === 'undefined') {
                                                                    window.location = downloadUrl;
                                                                } else {
                                                                    a.href = downloadUrl;
                                                                    a.download = filename;
                                                                    document.body.appendChild(a);
                                                                    a.click();
                                                                }
                                                            } else {
                                                                window.location = downloadUrl;
                                                            }

                                                            setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
                                                        }
                                                    }
                                                };
                                                xhr.onloadend = function () {
                                                    $.post('/api/event/seat/book', {
                                                        items: cart_items,
                                                        book_action: true,
                                                        event_id: {{ event.id }}
                                                    });
                                                    $('.payment-success').show();
                                                    $('.payment-loader').hide();
                                                    $('.form_order_method').empty();
                                                };
                                                xhr.onloadstart = function () {
                                                    $('.form_order_method').hide();
                                                    $('.payment-loader').show();
                                                };
                                                xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                                                var formData = new FormData(document.getElementById("form_printer"));
                                                xhr.send(formData);
                                                return frmInfo.valid();
                                            } else if (order_method === 'send_email') {
                                                $.post('{{ path('cart_print_mail')|escape('js') }}', {
                                                    order_method: order_method,
                                                    _token: token
                                                }).done(function (data) {
                                                    $.post('/api/event/seat/book', {
                                                        items: cart_items,
                                                        book_action: true,
                                                        event_id: {{ event.id }}
                                                    });
                                                    $('.payment-success').show();
                                                    $('.form_order_method').empty();
                                                    return frmInfo.valid();
                                                }).fail(function () {
                                                    $('.payment-failure').show();
                                                    $('.form_order_method').empty();
                                                });
                                            }
                                        });
                                        {% endif %}
                                }
                                $("#btnPaypal").empty();
                                $('#orangeMoney').empty();

                            }
                        }
                        if (stepDirection === 'backward') {
                            if (newIndex === 0 && currentIndex === newIndex + 1) {
                                clearInterval(counter);
                                $("#btnPaypal").find('.paypal-buttons').remove();
                                $("#orangeMoney").find('form').remove();
                                $(".paymentInfo").empty();
                                $(".form_order_method").empty();
                            }
                            if (newIndex === 1 && currentIndex === newIndex + 1) {
                                $("#btnPaypal").find('.paypal-buttons').remove();
                            }
                            if (newIndex === 2 && currentIndex === newIndex + 1) {
                            }

                        }
                        return true;
                    },
                    showBackButton: true,
                    onFinish: function () {
                        if ($('.payment-success').is(':visible') || $('.payment-failure').is(':visible') || $('.register-failure').is(':visible')) {
                            $.get('/res_billet/clear');
                            $('#checkout_command').modal('hide');
                            location.reload();
                        } else {
                            alert('Veuiller procéder au paiement. Pour fermer le dialogue cliquer sur x. ');
                        }
                    }
                });
            });
            $('.closeConfirm').click(function () { //Close Button on Form Modal to trigger Warning Modal
                $('#confirmCloseCheckout').modal('show').on('shown.bs.modal', function () { //Show Warning Modal and use `show` event listener
                    $('.confirmclosed').click(function () { //Warning Modal Confirm Close Button
                        /*$.post('/api/event/seats/unlock-all',{
                            event_id: {{ event.id }},
                            items : cart_items
                        },(data)=>{
                            if(data){*/
                        $('#confirmCloseCheckout').modal('hide'); //Hide Warning Modal
                        $('#checkout_command').modal('hide'); //Hide Form Modal
                        //location.reload();
                        /* }
                     });*/

                    });
                });
            });
            $('#checkout_command').on('hidden.bs.modal', function () {
                clearInterval(counter);
                $.get('/res_billet/clear');
                resetForm('form_select_items');
                resetForm('frmInfo');
                location.reload();
            });
            let deadline = new Date("{{ event.dateDebutEvent|date("M d, Y H:i:s") }}").getTime();

            function start_counter() {
                let start_counter = 10*60;
                let checkout_timer = setInterval(function () {
                    --start_counter;
                    $('.time_left').text(format(start_counter));
                    if (start_counter === 0) {
                        clearInterval(checkout_timer);
                        $.get('/res_billet/clear');
                        $('#checkout_command').modal('hide');
                    }
                }, 1000);
                return start_counter;
            }

            function format(time) {
                // Hours, minutes and seconds
                let hrs = ~~(time / 3600);
                let mins = ~~((time % 3600) / 60);
                let secs = ~~time % 60;

                let ret = "";
                if (hrs > 0) {
                    ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
                }
                ret += "" + mins + ":" + (secs < 10 ? "0" : "");
                ret += "" + secs;
                return ret;
            }

            function transformItemsPaypalFormat(cart_items) {
                let formatted_cart = [];
                cart_items.forEach(function (el) {
                    let item = {
                        name: el.category_str + '-' + el.section + '-' + el.seat,
                        quantity: el.quantity,
                        currency: "{{ event.devise.code=='MGA'?'EUR':event.devise.code }}",
                        unit_amount: {
                            value: {% if event.devise.code=='MGA' %}(el.price/4100).toFixed(2){% else %}el.price{% endif %},
                            currency_code: "{{ event.devise.code }}"
                        }
                    };
                    formatted_cart.push(item);
                });
                return formatted_cart;
            }

            /*let x = setInterval(function () {
                let now = new Date().getTime();
                let t = deadline - now;
                let days = Math.floor(t / (1000 * 60 * 60 * 24));
                let hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((t % (1000 * 60)) / 1000);
                document.getElementById("day").innerHTML = days;
                document.getElementById("hour").innerHTML = hours;
                document.getElementById("minute").innerHTML = minutes;
                document.getElementById("second").innerHTML = seconds;
                if (t < 0) {
                    clearInterval(x);
                    //document.getElementById("clockdiv").innerHTML = "L' évènement est passé";
                    document.getElementById("day").innerHTML = '0';
                    document.getElementById("hour").innerHTML = '0';
                    document.getElementById("minute").innerHTML = '0';
                    document.getElementById("second").innerHTML = '0';
                }
            }, 1000);*/
        </script>
        <script src="https://cdn.seatsio.net/chart.js"></script>
        <script type="text/javascript">
            new seatsio.SeatingChart({
                divId: 'chart',
                workspaceKey: '{{ event.user.options.seatsIoPublicWorkspaceId }}', //'1d982e69-89ab-4509-bdc3-8329d7e4795e',
                event: '{{ event.options.seatsIoEventSecretKey }}',
                language : 'fr',
                //selectedObjectsInputName : 'selectedSeatsField',
                pricing: [
                    {'category': 'SIMPLE', 'price': 3000},
                    {'category': 'RESA', 'price': 4000},
                    {'category': 'VIP', 'price': 5000}
                ],
                priceFormatter: function(price) {
                    return 'MGA ' + price;
                },
                showLegend : true,
                multiSelectEnabled: true,
                loading: "<div class='preloader d-flex align-items-center justify-content-center'><div class='lds-ellipsis'><div class='logo' style='animation: none;'><img src='{{ asset('img/logo-preloader.png') }}'></div><div></div><div></div><div></div><div></div></div></div>"
            }).render();
        </script>
        <!-- Build js
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script> -->


    {% endblock %}
{% endblock %}
