{% extends 'base.html.twig' %}
{% block title %}
    {{ event.titreEvenement }} | {{ event.dateDebutEvent|date('d-m-Y') }}
{% endblock %}
{% block breadcrumb %}
    <!-- <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/breadcumb3.jpg') }}">
        <div class="bradcumbContent">
            {% block breadcrumb_content %}
                <p>Parcourir</p>
                <h2>{{ event.titreEvenement }}</h2>
            {% endblock %}
        </div>
    </section>-->
{% endblock %}
{% block body %}
    <!-- ##### Events Area Start ##### -->
    {% block content %}
        {{ parent() }}
        <div class="blog-area section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <!-- Single Post Start -->
                        <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                            <!-- Post Thumb -->
                            <div class="blog-post-thumb mt-30">
                                <a href="#"><img src="{{ asset(event.imageEvent) }}"
                                                 alt="{{ event.titreEvenement }}"></a>
                                <!-- Post Date -->
                                <div class="post-date">
                                    <span class="day">{{ event.dateDebutEvent|date('d') }}</span>
                                    <span class="month">{{ event.dateDebutEvent|localizeddate('none', 'none', null, null,'MMM Y') }}</span>
                                </div>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <!-- Post Title -->
                                <div class="row">
                                    <div class="col">
                                        <a href="#" class="post-title">{{ event.titreEvenement }}</a>
                                        <!-- Post Meta -->
                                        <div class="post-meta d-flex mb-30">
                                            Par &nbsp<h6 class="post-author"><a
                                                        href="#">{{ event.organisation }}</a>
                                            </h6>
                                            &nbsp;|&nbsp; au&nbsp;&nbsp; <h6 class="tags"><a
                                                        href="#"> {{ event.lieuEvenement.nomSalle }}</a></h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                    {% if (ticketState != null) %}
                                        {% if ticketState['restants'] > 0 %}
                                            <a class="btn btn-success text text-white pull-right" style="text-transform: none;"
                                               data-toggle="modal"
                                               data-target="#choixVue">{{ 'events.buy_tickets'|trans }} <i
                                                        class="fa fa-ticket"></i></a>
                                        {% else %}
                                            <a class="btn oneMusic-btn m-2 pull-right" style="text-transform: none;"
                                               data-toggle="modal"
                                               data-target="#choixVue">{{ 'events.ticket_off'|trans }} <i
                                                        class="fa fa-ticket"></i></a>

                                        {% endif %}
                                    {% else %}
                                        <p class="info text-danger pull-right">Pas de billets disponibles</p>
                                    {% endif %}
                                    </div>
                                </div>
                                    <div id="clockdiv " class="row mb-30">
                                        <div class="col">
                                            <p id="day" class="days display-4"></p>
                                            <div class="font-weight-bold ">Jours</div>
                                        </div>
                                        <div class="col">
                                            <p class="hours display-4 " id="hour"></p>
                                            <div class="font-weight-bold">Heures</div>
                                        </div>
                                        <div class="col">
                                            <p class="minutes display-4" id="minute"></p>
                                            <div class="font-weight-bold">Minutes</div>
                                        </div>
                                        <div class="col">
                                            <p class="seconds display-4" id="second"></p>
                                            <div class="font-weight-bold">Secondes</div>
                                        </div>
                                    </div>
                                <!-- Post Excerpt -->
                                <hr/>
                                <p>{{ event.description|raw }}</p>
                            </div>
                        </div>
                        <div class="modal fade" id="choixVue" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Choisir des billets</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% if event.isUsingSeatMap == 1 %}
                                            <a href="{{ url('viewBuyMap',{'idEvent':event.id}) }}"
                                               class="btn oneMusic-btn m-2" style="text-transform: none;">Sur le plan de
                                                salle
                                                <i class="fa fa-circle"></i></a>
                                        {% else %}
                                            <p href="#" class="text m-2 text-danger"
                                               style="text-transform: none;">{{ 'events.map_not_available'|trans }}</p>
                                        {% endif %}
                                        <a href="{{ url('viewTicketList',{'id':event.id}) }}"
                                           class="btn oneMusic-btn m-2" style="text-transform: none;">Lister les billets<i
                                                    class="fa fa-list"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}

            <script>
                var deadline = new Date("{{ event.dateDebutEvent|date("M d, Y H:i:s") }}").getTime();
                var x = setInterval(function () {

                    var now = new Date().getTime();
                    var t = deadline - now;
                    var days = Math.floor(t / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((t % (1000 * 60)) / 1000);
                    document.getElementById("day").innerHTML = days;
                    document.getElementById("hour").innerHTML = hours;
                    document.getElementById("minute").innerHTML = minutes;
                    document.getElementById("second").innerHTML = seconds;
                    if (t < 0) {
                        clearInterval(x);
                        //document.getElementById("clockdiv").innerHTML = "L' évènement est passé";
                        document.getElementById("day").innerHTML = '0';
                        document.getElementById("hour").innerHTML = '0';
                        document.getElementById("minute").innerHTML = '0';
                        document.getElementById("second").innerHTML = '0';
                    }
                }, 1000);
            </script>
    {% endblock %}
{% endblock %}
{% block contact %}{% endblock %}

