{% trans_default_domain 'FOSUserBundle' %}
<!-- ##### Registration Area Start ##### -->
<section class="section-padding-0-0">
    <div class="container">
        <div class="col-12 col-lg-12">
            <div class="section-padding-0-100">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register','enctype':'multipart/form-data'}}) }}
                <p class="alert-danger">{{ form_errors(form) }}</p>
                <div class="row">
                    <div class="col"><hr/></div>
                <div class="col-auto">Informations personnelles</div>
                    <div class="col"><hr/></div>
                </div>

                <div class="form-group col-md-6">
                    <div class="row">
                    {{ form_label(form.nom) }}
                    </div>
                    <div class="row">
                    {{ form_widget(form.nom) }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="row">
                    {{ form_label(form.prenom) }}
                    </div>
                    <div class="row">
                    {{ form_widget(form.prenom) }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="row">
                    {{ form_label(form.sexe) }}
                    </div>
                    <div class="row">
                    {{ form_widget(form.sexe) }}
                    </div>
                        <div class="row">
                    {{ form_errors(form.sexe) }}
                        </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="row">
                        {{ form_label(form.date_de_naissance) }}</div>
                        <div class="row">
                    {{ form_widget(form.date_de_naissance) }}
                        </div>
                            <div class="row">
                    {{ form_errors(form.date_de_naissance) }}
                            </div>
                </div>
                <div class="row">
                    <div class="col"><hr/></div>
                    <div class="col-auto">Informations de connexion</div>
                    <div class="col"><hr/></div>
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                    {{ form_errors(form.username) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_widget(form.plainPassword) }}
                    {{ form_errors(form.plainPassword) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>


                <div class="row">
                    <div class="col"><hr/></div>
                    <div class="col-auto">Contacts</div>
                    <div class="col"><hr/></div>
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.adresse) }}
                    {{ form_widget(form.adresse) }}
                    {{ form_errors(form.adresse) }}
                </div>
                <div class="form-row col-md-6">
                    <div class="col">
                        {{ form_label(form.region) }}
                        {{ form_widget(form.region) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.pays) }}
                        {{ form_widget(form.pays) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.code_postal) }}
                        {{ form_widget(form.code_postal) }}
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-10">
                    {{ form_label(form.mobile_phone) }}
                    {{ form_widget(form.mobile_phone) }}
                </div>
                <hr/>
                <div class="form-group col-md-6 col-sm-10">
                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone) }}
                </div>

                <div class="form-group col-md-6 col-sm-10">
                    {{ form_label(form.website) }}
                    {{ form_widget(form.website) }}
                    {{ form_errors(form.website) }}
                </div>
                <div class="form-group col-md-6 col-sm-10">
                    {{ form_label(form.blog) }}
                    {{ form_widget(form.blog) }}
                    {{ form_errors(form.blog) }}
                </div>
                <div class="form-group col-md-6 col-sm-10">
                    {{ form_label(form.image) }}
                    {{ form_widget(form.image) }}
                    {{ form_errors(form.image) }}
                    <small class="text text-muted">L'image ne doit pas dépasser 1024Mo. L'image servira de couverture pour votre organisation</small>
                </div>
                <div class="form-group col-md-6 col-sm-10">
                    <input class="btn  mt-30" type="submit" value="{{ 'registration.submit'|trans }}"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>