{% extends 'base.html.twig' %}




{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block head_javascripts %}
{% endblock %}
{% block breadcrumb %}
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/breadcumb3.jpg') }}">
        <div class="bradcumbContent">
            {% block breadcrumb_content %}
                <p>Liste des catégories pour </p>
                <h2>{{ event.titreEvenement }}</h2>
            {% endblock %}
        </div>
    </section>
{% endblock %}
{% block body %}
    <!-- ##### Events Area Start ##### -->
    {% block content %}

        <section class="section-padding-100">
            {{ parent() }}
            <div class="container">
                <p class="text-muted">Liste des catégories pour l'évènement <a
                            href="#">{{ event.titreEvenement }}</a></p>
                <ul>
                    <li>
                        <a href="{{ path('lieuevenement_new',{'userId':app.user.username,'event':event.titreEvenementSlug}) }}">Créer
                            une catégorie</a>
                    </li>
                </ul>
                <br/>
                {% if lieuevenements.getTotalItemCount > 0 %}
                    {{ form_start(searchForm,{'attr':{'class':'form-inline'},'method':'GET'}) }}
                    {# form_widget(searchForm) #}
                    {{ form_label(searchForm.libelle) }}
                    &nbsp;
                    {{ form_widget(searchForm.libelle) }}

                    &nbsp;
                    <div class="form-check mb-2 mr-sm-2">
                        {{ form_label(searchForm.estVendu) }}
                        &nbsp;
                        {{ form_widget(searchForm.estVendu) }}
                    </div>
                    &nbsp;
                    <button type="submit" class="btn btn-outline-dark mb-2">Recherche</button>

                    {{ form_end(searchForm) }}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(lieuevenements, 'Type', 'libelle') }}</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for lieuevenement in lieuevenements %}
                            <tr>
                                <td>{{ lieuevenement.libelle }}</td>
                                <td>

                                    <a class="btn btn-success"
                                       href="{{ path('lieuevenement_show', { 'userId':app.user.username,'event':event.titreEvenementSlug,'id': lieuevenement.id }) }}">Afficher</a>
                                    <a class="btn btn-danger"
                                       href="{{ path('lieuevenement_edit', { 'userId':app.user.username,'event':event.titreEvenementSlug,'id': lieuevenement.id }) }}">Editer</a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(lieuevenements) }}
                    </div>
                {% else %}
                    <p class="text text-warning">Aucune lieuevenement à afficher</p>
                {% endif %}

                {% if event.isUsingSeatMap %}
                    <p>
                        <a href="{{ url('viewBuyMap',{'idEvent':event.id}) }}"><span
                                    class="fa fa-arrow-left"></span>&nbsp;{{ 'events.return_to_seat_map'|trans }}</a>
                    </p>
                {% else %}
                    <p>
                        <a href="{{ url('viewBuyMap',{'idEvent':event.id}) }}"><span
                                    class="fa fa-arrow-left"></span>&nbsp;{{ 'events.return_to_event'|trans }}</a>
                    </p>
                {% endif %}
            </div>
            <div class="modal fade" id="nbrlieuevenements" tabindex="-1" role="dialog"
                 aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="">{{ 'events.buy_tickets'|trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-inline" id="commande" method="POST" action="{{ path('cart_add') }}">
                                <div class="form-check form-check-inline">
                                    <div class="row">
                                        <div class="col">
                                            <label for="select_nb_lieuevenements" class="form-check-label">
                                                <select class="form-control mr-sm-2" id="select_nb_lieuevenements"
                                                        name="select_nb_lieuevenements">
                                                </select>
                                                <input type="hidden" value="" name="type_lieuevenement">
                                                <input type="hidden" value="{{ event.id }}" name="event_id">
                                                <input type="hidden"
                                                       value="{{ path('viewTicketList',{'id': event.id}) }}"
                                                       name="redirect">
                                                {{ 'events.tickets'|trans }}
                                            </label>

                                        </div>
                                        <div class="col">
                                            <button class="form-control btn btn-success">{{ 'events.commander'|trans }}</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}

    {% endblock %}
{% endblock %}







{% block body %}
    <h1>Lieuevenements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Pays</th>
                <th>Codepostal</th>
                <th>Nomsalle</th>
                <th>Capacite</th>
                <th>Structuresalle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lieuEvenement in lieuEvenements %}
            <tr>
                <td><a href="{{ path('place_event_show', { 'id': lieuEvenement.id }) }}">{{ lieuEvenement.id }}</a></td>
                <td>{{ lieuEvenement.adresse }}</td>
                <td>{{ lieuEvenement.pays }}</td>
                <td>{{ lieuEvenement.codePostal }}</td>
                <td>{{ lieuEvenement.nomSalle }}</td>
                <td>{{ lieuEvenement.capacite }}</td>
                <td>{{ lieuEvenement.structureSalle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('place_event_show', { 'id': lieuEvenement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('place_event_edit', { 'id': lieuEvenement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('place_event_new') }}">Create a new lieuEvenement</a>
        </li>
    </ul>
{% endblock %}
