{% extends 'adminuserevent.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet"/>
{% endblock %}
{% block title %}
    {{ app.user.username }} | {{ event.titreEvenement }}
{% endblock %}
{% block body %}

    <!-- header search -->
    <div class="container-fluid">
        <br />
        <div class="row bg-white">
            <div class="col">
                <h1 class="text-info"><i class="fa fa-calendar" aria-hidden="true"></i> Liste des billets de l'évènement <a  href="{{ path('viewEventUserAdmin') }}">{{ event.titreEvenement }}</a></h1>
            </div>
        </div>
        <br />
         <form method="GET" action="{{ path('viewTicketEventUserAdmin',{'userId':app.user.id,'eventId':event.id}) }}">
                <div class="row">               
                            <div class="col-md-3">
                                <input type="text" name="billet_place" value="{{ billet_place }}" class="form-control"
                                placeholder="Rechercher les places">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="billet_type" value="{{ billet_type }}" class="form-control"
                                placeholder="Type de billet">
                            </div>
                            <div class="col-md-3">                               
                                <select name="billet_checked" class="form-control">
                                    <option value=""></option>
                                    <option value="0">Pas encore vérifié</option>
                                    <option value="1">Déjà vérifié</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-info">
                                <i class="fa fa-search"></i>
                                </button> 
                            </div>                        
                </div>  
        </form>
        <br />
        <div class="row">            
            <div class="col-md-12">
                <h1>Billets checked</h1>
                <h1 class="text-info">{{ nbAllBilletChecked }}/{{ nbAllBillet }}</h1>
            </div>
        </div>

    <!-- header search -->
    <div class="clear">
        <br/><br/>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tr style="background-color:#ccc">
                        <td><b>Identifiant</b></td>
                        <td><b>Type</b></td>
                        <td><b>Place</b></td>
                        <td><b>Section</b></td>
                        <td><b>Checked</b></td>
                    </tr>
                    {% for billet in billets %}                        
                        <tr>
                            <td>{{ billet.identifiant }}</td>
                            <td><b>{{ billet.TypeBillet }}</b></td>
                            <td><b>{{ billet.PlaceId }}</b></td>
                            <td><b>{{ billet.SectionId }}</b></td>
                            <td><b>{{ billet.checked}}</b></td>
                        </tr>
                    {% endfor %}
                </table>
               <div class="text-center">{{ knp_pagination_render(billets) }}</div>
            </div>
          

        </div>
    </div>
    </div>
{% endblock %}

