{% extends 'adminuserevent.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <!-- hedare search -->
    <div class="container" style="margin-top:20px">
        <h1 style="color:#6c757d">Evénements</h1>
        <div class="row">
            <div class="panel col-md-12 col-sm-12 col-sx-12">    
                    <form>
                        <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Rechercher des evenements">
                                </div>
                                <div class="col">
                                <input type="text" class="form-control" placeholder="Etat de l'événement">
                                </div>
                                <div class="col">
                                <input type="text" class="form-control" placeholder="Organisateur">
                                </div>
                        </div>
                    </form>
            </div>
           
        </div>
    </div>
    <!-- header search -->
    <div class="clear">
     <br /><br />
    </div> 
    <div class="container"> 
        <div class="panel col-md-12 col-sm-12 col-sx-12">                       
            <table class="table">
                <tr style="background-color:#ccc">
                    <td><b>Evenement</b></td>
                    <td></td>
                    <td></td>
                    <td><b>Vendus</b></td>
                    <td><b>Brut</b></td>
                    <td><b>Statut</b></td>
                </tr>                
                {% for event in events %}
                <tr>
                    <td>
                        <p class="day">{{ event.dateDebutEvent|date("d") }}</p>                                               
                        <p class="month">{{ event.dateDebutEvent.date|date('M') }} -{{ event.dateDebutEvent.date|date('Y') }} </p>                       
                    </td>
                    <td>
                         <img src="https://via.placeholder.com/100" />
                    </td>
                    <td>
                        <p>
                            <a href="{{ path('viewEventUpdate',{'user':app.user.id,'id':event.id}) }}"><b>{{ event.titreEvenement }}</b></a>
                            <br/>
                        {{ event.lieuEvenement.nomSalle }} ,{{ event.lieuEvenement.pays }} <br />
                        {{ event.organisation }}</p>
                    </td>
                    <td>20/616</td>
                    <td>300 Euro</td>
                    <td>Ventes achevées </td>
                </tr>
                {% endfor %}
            </table>            
    </div>    
{% endblock %}

