{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block head_javascripts %}
{% endblock %}
{% block breadcrumb %}
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/breadcumb3.jpg') }}">
        <div class="bradcumbContent">
            {% block breadcrumb_content %}
                <p>Edition de billet </p>
                <h2>{{ event.titreEvenement }}</h2>
            {% endblock %}
        </div>
    </section>
{% endblock %}
{% block body %}
    {% block content %}
        {{ parent() }}
        <section class="section-padding-100">
            <div class="container">
    <h1>Edition du billet n° {{ billet.identifiant }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Valider" />
    {{ form_end(edit_form) }}
                <p class="alert alert-info pull-right"> Le billet sera relié avec votre évènement : {{ event.titreEvenement }}</p>
    <div class="row">
        <div class="col">
            <a class="page-link" href="{{ path('billet_index',{ 'userId':app.user.username,'event':event.titreEvenementSlug}) }}">Retour vers la liste des billets</a>

        </div>
        <div class="col">
            {{ form_start(delete_form) }}
                <input class="btn btn-alert" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </div>

    </div>
            </div>
        </section>
        {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
