{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block head_javascripts %}
{% endblock %}
{% block breadcrumb %}
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/breadcumb3.jpg') }}">
        <div class="bradcumbContent">
            {% block breadcrumb_content %}
                <p>Création de billet </p>
                <h2>{{ event.titreEvenement }}</h2>
            {% endblock %}
        </div>
    </section>
{% endblock %}
{% block body %}
    {% block content %}
        {{ parent() }}
        <section class="section-padding-100">
            <div class="container">
                <h1>Billet</h1>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Identifiant</th>
                        <td>{{ billet.identifiant }}</td>
                    </tr>
                    <tr>
                        <th>Identifiant Place</th>
                        <td>{{ billet.placeid }}</td>
                    </tr>
                    <tr>
                        <th>Estvendu</th>
                        <td>{% if billet.estVendu %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Prix</th>
                        <td>{{ billet.prix }}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="row col-md-5">
                    <div class="col">
                        <a class=""
                           href="{{ path('billet_index',{ 'userId':app.user.username,'event':event.titreEvenementSlug}) }}">Retourner
                            vers la liste des billets</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-success"
                           href="{{ path('billet_edit', { 'userId':app.user.username,'event':event.titreEvenementSlug,'id': billet.id }) }}">Editer</a>
                    </div>
                    <div class="col">
                        {{ form_start(delete_form) }}
                        <input class="btn btn-danger" type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}
                    </div>
                </div>

            </div>
        </section>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
